@font-face {
  font-family: 'Handjet';
  src: local('Handjet'), url('./components/fonts/Handjet[EGRD\,ESHP\,wght].ttf') format('ttf');
  src: local('Handjet'), url('./components//fonts/Handjet[EGRD\,ESHP\,wght].woff2') format('woff2');
}

.bg-myprim {
  background-color: #36AFF4;
}

.bg-mysec {
  background-color: #86CCFF;
}

.navbar-brand {
  font-family: 'Handjet';
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 54px;
}

.nav-button {
  font-family: 'Handjet';
  color: black;
  text-decoration: none;

  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
}